<h1>Profiles#new</h1>
<p>Find me in app/views/profiles/new.html.erb</p>
<%= form_for @userprofile, url: userprofiles_path do |f| %>

  <% if @userprofile.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@userprofile.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
    <% @userprofile.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


  Firsname: <%= f.text_field :name %><br />
  Description <%= f.text_field :description %>
  <%= f.submit "Create" %>
<% end %>
