<h1>Mini-mini-twitter</h1>

<%= link_to "Create new post",  new_post_path %>
<% if @posts == [] %>
    <p>Create new post</p>
<% else %>
    <% @posts.each do |post| %>
       <p>User <b><%= post.user.userprofile.name%></b>  write: <br />
        <b><%= post.title %></b><br />
        <%= post.body %><br />
        <div id="toremove" ><%= post.like %> Likes</div>
        <p><%= link_to "Love that", like_info_path, remote: true %></p>
<div id="like"></div>
       <p><%= link_to "Read More", post_path(post.id) %></p>
    <% end %>
<% end %>
